BasedOnStyle: Google
IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 0

AlignAfterOpenBracket: BlockIndent

AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: All

# Override Google style defaults
DerivePointerAlignment: false
PointerAlignment: Left

